<section class="hero is-medium is-link">
  <div class="hero-body">
    <p class="title">
      Get it done with Vanderlist
    </p>
    <p class="subtitle">
      A simple todo list app
    </p>
  </div>
</section>
